<div class="top-logo-bar">
  <span class="material-icons menu-icon" (click)="toggleMenu()" *ngIf="!showMenu">
    menu
  </span>
  <div class="kelbie-logo" [routerLink]="['/home']">
    <span class="thats-me">Kellie Hall</span>
    <span class="material-icons home-button">
      home
    </span>
  </div>
</div>
<nav class="side-menu-nav" *ngIf="showMenu">
  <span class="material-icons menu-icon" (click)="toggleMenu()">
    menu
  </span>
  <ul class="navbar-nav">
    <li class="nav-item" *ngFor="let link of links">
      <a class="nav-link" [routerLink]="link.path" routerLinkActive="active-linker">{{link.label}}</a>
    </li>
  </ul>
  <div class="auth-block" *ngIf="!(user$ | async)">
    <button type="button" class="btn btn-light" [routerLink]="['/auth/login']">Login</button>
    <button type="button" class="btn btn-light" [routerLink]="['/auth/register']">Register</button>
  </div>
</nav>