<div class="top-logo-bar">
  <span class="material-icons menu-icon" (click)="toggleMenu()" *ngIf="!showMenu">
    menu
  </span>
  <a class="kelbie-logo" href="#">kelbie.io</a>
</div>
<nav class="side-menu-nav" *ngIf="showMenu">
  <span class="material-icons menu-icon" (click)="toggleMenu()">
    menu
  </span>
  <ul class="navbar-nav">
    <li class="nav-item" *ngFor="let link of links">
      <a class="nav-link" [routerLink]="link.path" routerLinkActive="active-linker">{{link.label}}</a>
    </li>
  </ul>
</nav>